//- src/assets/_layout/default.pugを継承
extends /assets/html/_layout/default

//- meta設定
block vars

  //- 上書き
  - pageDir = '.'
  - title ="sample index title"
  - useTitleSeparater = false
  - keywords = 'sample index keywords'
  - description = 'sample index description'

  //- その他変数
  - bodyClass = 'is-top';  //- bodyタグに付与するクラス
  - contentsId = 'top'

  - imgComDir = pageDir + '/assets/img/common/'

  - imgDir = pageDir + '/assets/img/' + contentsId + '/'



//- ページ個別のCSS
block append css
  link(rel="stylesheet", href= pageDir + "/assets/css/index.css")


//- ページ個別のJS(head)
block scriptHead
  script(src= pageDir + "/assets/js/index.js" defer)


//- ページ個別のJS
block script


//- ここからコンテンツ部分を記述
block main-contents

  = "\n"
  // section-hero
  section.section.section-hero
    .section-content
      .hero-slider.inview.fadeIn
        .swiper.js-hero-slider
          .swiper-wrapper
            .swiper-slide
              a(href=pageDir + '/')
                .hero-img
                  img(src=imgDir + 'hero-img01.jpg', alt='JUNKO SHIMADA メインスライダー画像')

                .hero-headline
                  h2.hero__title slider title
                  p.hero__subtitle slider subtitle

            .swiper-slide
              a(href=pageDir + '/')
                .hero-img
                  img(src=imgDir + 'hero-img01.jpg', alt='JUNKO SHIMADA メインスライダー画像')

                .hero-headline
                  h2.hero__title slider title
                  p.hero__subtitle slider subtitle

            .swiper-slide
              a(href=pageDir + '/')
                .hero-img
                  img(src=imgDir + 'hero-img01.jpg', alt='JUNKO SHIMADA メインスライダー画像')

                .hero-headline
                  h2.hero__title slider title
                  p.hero__subtitle slider subtitle

            .swiper-slide
              a(href=pageDir + '/')
                .hero-img
                  img(src=imgDir + 'hero-img01.jpg', alt='JUNKO SHIMADA メインスライダー画像')

                .hero-headline
                  h2.hero__title slider title
                  p.hero__subtitle slider subtitle



          .swiper-button-next
          .swiper-button-prev
          .swiper-pagination


  // End - section-hero
  = "\n"


  section.section.section-works
    .section-content
      .content
        .grid-x
          .cell.medium-8
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          .cell.medium-4
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.



block append script
  //- script(src= pageDir + "/assets/js/index.js" async)
